<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meerkat infooooooo</title>
    <script type ="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" media="screen">

</head>
<body>
    <div id="tupac">
            <p>Name: <%= meerkats.name %></p>
            <p>Favorite Food: <%= meerkats.favoriteFood %></p>
            <p>Age: <%= meerkats.age %></p>
            <a href="<%= '/meerkat/edit/'+meerkats._id %>"><button>Edit</button></a>
    </div>
</body>
</html>